.git
.gitignore
.github
node_modules
vendor
tests
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.env
.env.*
!.env.production.example
database/database.sqlite
docs
*.md
.phpunit.result.cache
.DS_Store
